@use "../../assets/styles/index" as *;

.Home-container {
  font-family: Nicholas;
  line-height: 1.6;
  padding: 2rem;
  width: 80%;
  @include basetext-color;
  @include flex-column;

  &-text-intro,
  &-text-description,
  &-text-ecosystem,
  &-text-link {
    font-family: Typewriter;
    font-size: 1.4rem;
  }

  &-text-description {
    opacity: 0.9;
  }

  &-text-link {
    font-family: Nicholas;
    letter-spacing: 0.1rem;
    text-transform: uppercase;
  }
}