@use "../../assets/styles/index" as *;

hr {
  border-color: rgba(141, 141, 153, 0.8);
  width: 80%;
}

.Card-div {
  background-color: rgba(35, 35, 50, 0.5);
  border-color: rgba(45, 45, 65, 0.5);
  border-radius: 6px;
  border-style: solid;
  display: flex;
  flex-direction: column;
  width: 60%;
  @include align-center;
  @include basetext-color;
}

.Card-div-header {
  align-items: center;
  display: grid;
  grid-auto-flow: column;
  grid-template-columns: repeat(2,1fr);
  justify-items: center;

  .Card-div-header-image {
    max-width: 8rem;

    &:hover {
      animation: pulsazione 1.5s infinite ease-in-out;
      filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
      transition: filter 0.3s ease;
    }
  }

  .Card-div-header-text {
    font-family: Nicholas;
    font-size: 1.2rem;
    letter-spacing: 0.30rem;
    text-transform: uppercase;
    white-space: pre-line;
  }

}

@media (max-width: 1100px) {
  .Card-div {
    width: 80%;
  }
}

@keyframes pulsazione {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}
