header {
    background-color: rgba(35, 35, 50, 0.4); /* Grigio scuro al 40% di opacità */
    height: 10vh;
    transition-duration: 0.5s;
    transition-property: background-color;
    width: 100%;
}