@use "../../assets/styles/variables" as vars;

footer {
  background-color: rgba(35, 35, 50, 0.4);
  color: vars.$textcolor;
  height: 10%;
  place-content: center;
  place-items: center;
  text-align: center;
  width: 100%;
}
