@mixin align-center {
  place-content: center;
  place-items: center;
  text-align: center;
}

@mixin flex-column {
  display: flex;
  flex-direction: column;
}

@mixin flex-row {
  display: flex;
  flex-direction: row;
}
