@font-face {
    font-family: Nicholas;
    font-swap: swap;
    src: url("/assets/font/nicholas.ttf");
}

@font-face {
    font-family: Typewriter;
    font-swap: swap;
    src: url("/assets/font/typewriter.ttf");
}

@mixin basetext-color {
    color: rgb(216, 213, 213);
}