.home-container {
  display: block;
  min-height: 80vh;
  text-align: center;
  width: 100%;
}

.home-logo {
  animation: pulsazione 1.5s infinite ease-in-out;
  filter: drop-shadow(0 4px 6px rgba(0, 0, 0, 0.1));
  transition: filter 0.3s ease;
  width: 30%;
}

@keyframes pulsazione {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  100% {
    transform: scale(1);
  }
}

.tmpText {
  color: rgb(216, 213, 213);
  font-size: 36px;
}